@import "tailwindcss";
:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
}


@keyframes skeletonShimmer {
  100% {
    transform: translateX(100%);
  }
}

.skeleton-shimmer {
  animation: skeletonShimmer 1.4s ease-in-out infinite;
}